<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <springProfile name="!test">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <includeMdc>true</includeMdc>
      </encoder>
    </appender>
    <root level="INFO"><appender-ref ref="CONSOLE"/></root>
  </springProfile>
  <springProfile name="test">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder><pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern></encoder>
    </appender>
    <root level="WARN"><appender-ref ref="CONSOLE"/></root>
  </springProfile>
</configuration>

